
#section-01
h1 {
  font-family: milk-script,sans-serif;
font-weight: 500;
font-style: normal;
font-size: 6em;
text-align: center;
display: wrap


}

body {
  font-family: scrivano, serif;
  font-weight:400;
  font-style: normal;
  text-align: center;
color: rgb(255, 255, 255);
text-align: center;
align-items: : center;
 }

#section-03{
  font-family: looking-flowers-caps, sans-serif;
font-weight: 100;
font-style: normal;
font-size: 1.5em;
text-align: right;
weight
